.albumImgbox {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.75;
}

.sectionbox {
  width: 100%;
  height: 60vh;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  position: fixed;
  overflow: auto;
  bottom: 0px;
  padding: 0 24px;
}

.tracks {
  display: flex;
  height: 10%;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  margin-bottom: 0.3125rem;
}

/* audio::-webkit-media-controls-panel {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
  } */


.audio {
  display: block;
  width: 90%;
  max-width: 500px;
  background-color: #f5f5f5;
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
}

.audio::-webkit-media-controls-panel {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

.audio::-webkit-media-controls-play-button,
.audio::-webkit-media-controls-pause-button {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
}

.audio::-webkit-media-controls-timeline {
  height: 6px;
  display: none;

}

.audio::-webkit-media-controls-current-time-display,
.audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
  font-size: 14px;
}