.head {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1name {
  text-align: center;
}

.mid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #382cbd;
}

.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album {
  display: none;
}

.artist {
  display: none;
}

.flexbox01 {
  display: flex;
  place-items: center;
}

.signup {
  width: 100%;
  margin: 0 auto;
  display: flex;
  place-items: center;
  flex-direction: column;
  height: 100vh;
}

.signupbox {
  width: 100px;
  height: 100px;
}

.ttt {
  background-color: aqua;
}

.inputrapper {
  border-radius: 30px;
  background-color: #fff;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  scale: 1;
  transition: 0.5s;
}

.inputmain {
  height: 100%;
  outline: none;
  border-radius: 30px;
  border: 0 solid;
  width: 80%;
}

.buttonmain {
  background-color: #fff;
}

.searchMain {
  background-color: #382cbd;
  height: 100vh;
  border-radius: 50px;
}

.artistimg {
  width: 100%;
  height: 100%;
  border-radius: 90px;
  z-index: 5;
  left: 50px;
}

.artistbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 100%;
  width: 180px;
  height: 180px;
  background-color: #fff;
}

.artistname {
  position: absolute;
  bottom: 10%;
  color: #fff;
  margin: 0 auto;
  z-index: 5;
}

.sectionAni {
  display: none;
  background-color: #fff;
  height: 70vh;
  border-radius: 30px 30px 0 0;
  transition: transform 0.5s ease;
}

.sectionAni.show {
  display: block;
  transform: translateY(0);
}

.albums {
  width: 28%;
}

.divgap {
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin: 0 auto;
}

.albumImg {
  width: 100%;
  height: 6.25rem;
  border-radius: 10px;
}

.albumname {
  text-overflow: ellipsis;
  font-size: 0.8rem;
  padding: 10px 0;
}

.sectionAlbum {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  width: 100%;
  bottom: 0;
  position: relative;
  margin-top: 30%;
  padding: 0 24px;
 }

.sectionpadding {
  padding-top: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2margin {
  margin-bottom: 10%;
  padding-top: 18%;
  font-size: 1rem;
  font-weight: bold;
}

.searchImgbox {
  width: 15%;
  height: 3.125rem;
}

@keyframes ani {
  0%{
    bottom: 0;
    left: 0;
  }
  100%{
  }
}