.head{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.h1name{
    text-align: center;
}

.mid{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #382CBD;
}

.search{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    display: none;
}

.artist{
    display: none;
}
.flexbox01{
    display: flex;
    place-items: center;
}

.signup{
    width: 100%;
    margin: 0 auto;
    display: flex;
    place-items: center;
    flex-direction: column;
    height: 100vh;
}

.signupbox{
    width: 100px;
    height: 100px;
}
.ttt{
    background-color: aqua;
}
.inputrapper{
    border-radius: 30px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    
}
.inputmain{
    height: 100%;
    outline:none;
    border-radius: 30px;
    border:0 solid;
    width: 80%;

}
.buttonmain{
    background-color: #fff;
}

.searchMain{
    background-color: #382CBD;
    height: 100vh;
}

.artistimg{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    z-index: 5;
    left: 50px;
}

.artistbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.artistname{
    position: absolute;
    transform: translateY(4.375rem);
    color: #fff;
    margin: 0 auto;
}
.sectionAni{
    display: none;
    background-color: #fff;
    height: 70vh;
    border-radius: 30px 30px 0 0;
    transition: transform 0.5s ease;

}
.sectionAni.show{
    display: block;
    transform: translateY(0);
}
.albums{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    padding-left: .625rem;
}
.divgap{
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: .625rem;
    margin: 0 auto;
}
.albumImg{
    width: 6.25rem;
    border-radius: 10px;
}
.albumname{
    text-overflow: ellipsis;
    height: 3rem;
    display: flex;
    justify-content: left;
    width: 6.25rem;
    
}
.sectionAlbum{
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    height: 80vh;
    width: 100%;
    overflow: auto;
    bottom: 0;
    position: absolute;
}
.sectionpadding{
    padding-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2margin{
    margin-top: 30%;
    margin-bottom: 10%;
}
.searchImgbox{
    width: 15%;
    height: 10%;
}