.head{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.h1name{
    text-align: center;
}

.mid{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.search{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    display: none;
}

.artist{
    display: none;
}
.flexbox01{
    display: flex;
    place-items: center;
}

.signup{
    width: 100%;
    margin: 0 auto;
    display: flex;
    place-items: center;
    flex-direction: column;
    height: 100vh;
}

.signupbox{
    width: 100px;
    height: 100px;
}
.ttt{
    background-color: aqua;

}