.signup {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-height: 900px;
}

.signupflexbox01 {
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.textcenter {
    text-align: center;
    padding: 20px 0;
}

.inputflexbox {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin: 0 auto;
}

.inputborder {
    border-radius: 10px;
    border-width: 0 0 2px 0;
    border-color: #382CBD;
    width: 80%;
    height: 60px;
}

.inputbutton {
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 30px;
    border-width: 0 0 2px 0;
    width: 70%;
    height: 60px;
}

.imgbox {
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    height: 10%;
}

.signupbuttonbox {
    height: 20%;

}

.loginbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.signupbutton {
    width: 70%;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 25px;
    border-width: 0 0 2px 0;
    margin-top: .625rem;
}

.inputflexbox {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin: 0 auto;
}

.helplz {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.writeInput{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
